@import url(./variables.css);

body {
    background-color: #252525;
    margin: 0;
    padding: 0;
}

html *, ::before, ::after {
    box-sizing: border-box;
    font-size: 16px;
}

#main-container {
    margin-top: 15%;
    display: flex;
    justify-content: space-around;
}

.seg-container {
    width: 9.375rem;
    display: flex;
    height: 17.1875rem;
    flex-direction: column;
}

.seg-container > div.horizontal {
    display: flex;
    flex: 0 0 1.5rem;
    justify-content: center;
}

.seg-container > div.vertical {
    display: flex;
    flex: 0 0 6.25rem;
    justify-content: space-between;
}

.time-container {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.vert-seg {
    width: 1.5rem;
    height: 100%;
    clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 85%, 50% 100%, 0 85%);
}
     
.hori-seg {
    width: 6.25rem;
    height: 100%;
    clip-path: polygon(15% 0, 85% 0, 100% 50%, 85% 100%, 15% 100%, 0 50%);
}

.segment-on {
    background-color: rgb(115, 196, 223);
}